<div class="app">
  <div class="header">
    <h1>Trades</h1>
    <button mat-raised-button color="primary" (click)="openAddDialog()">Add trade</button>
  </div>
  <div class="emptyTradesList" *ngIf="!(trades$ | async)?.length">
    <h1>Add trades</h1>
  </div>
  <div class="wrapper">
    <div class="content" *ngIf="(trades$| async)?.length">
      <app-trades-list></app-trades-list>
      <app-trades-chart></app-trades-chart>
    </div>
    <div class="balance">
      <span>Balance: {{balance$ | async}} dollars</span>
    </div>
  </div>
</div>
